.svn
build_output
code_drop
bin
obj
_ReSharper*
NDependOut

*.suo
*.user 
*.csproj.user
*.resharper.user
*.resharper
*.dotCover
*.cache
*.docstates
*~
*.swp
*.bak
*.orig
*.log
*.TeamCity.user
*.DotSettings.user
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb
dropkick.5.1.ReSharper.user
/dropkick.5.0.ReSharper.user
*.DotSettings.user
packages

# HG
.hg
.hgignore
