<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CertificateStore.RemoteMachineName" value="APP01.tron.espares.co.uk"/>
    <add key="CertificateStore.RemoteCertificateThumbprint" value="e833d41450b1f4bbf69467fd9906d373a699d239"/>
    <add key="CertificateStore.LocalCertificateThumbprint" value="b1 76 8f 34 6c e4 14 1a ca b9 bd d9 84 7e 32 d9 8f 13 73 42"/>
    <add key="CertificateStore.LocalCertificateHash" value="b1768f346ce4141acab9bdd9847e32d98f137342"/>
  </appSettings>
</configuration>