<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CertificateStore.RemoteMachineName" value="APP01.tron.espares.co.uk"/>
    <add key="CertificateStore.RemoteCertificateThumbprint" value="e833d41450b1f4bbf69467fd9906d373a699d239"/>
    <add key="CertificateStore.LocalCertificateThumbprint" value="80c3136e7e01fc0c79dca5ca3ffe2956980f6616"/>
    <add key="Iis7Task.RemoteMachineName" value="APP01.tron.espares.co.uk"/>
    <add key="Iis7Task.RemoteCertificateThumbprint" value="e833d41450b1f4bbf69467fd9906d373a699d239"/>
    <add key="Iis7Task.LocalCertificateThumbprint" value="80c3136e7e01fc0c79dca5ca3ffe2956980f6616"/>
  </appSettings>
</configuration>